{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <a href="{% url 'books' pub_date=book.pub_date %}"><h2>{{ book.name }}</h2></a>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
                </div>
            {% endfor %}
        </div>
        {% if prev_page %}
            <a href="{% url 'books' pub_date=prev_page %}"><<< {{ prev_page|date:"Y-m-d" }} |</a>

        {% endif %}
        {% if next_page %}
            <a href="{% url 'books' pub_date=next_page %}"> | {{ next_page|date:"Y-m-d" }} >>></a>

        {% endif %}
    </div>

{% endblock %}